# https://kotlinlang.org/docs/coding-conventions.html
root = true

[*]
indent_size = 4
insert_final_newline = true
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true

[*.kt]
max_line_length = 100
continuation_indent_size = 4

[*.{gradle,kts}]
indent_size = 2

[*.md]
max_line_length = off
trim_trailing_whitespace = false

[*.{kt,kts}]
ij_kotlin_imports_layout = *,^
ij_kotlin_wrap_comments = true
ij_kotlin_space_after_type_colon = true
ij_kotlin_space_before_type_colon = false
ij_kotlin_space_after_function_colon = true
ij_kotlin_space_before_function_colon = false
ij_kotlin_space_after_extends_colon = true
ij_kotlin_space_before_extends_colon = false
ij_kotlin_align_in_columns_case_branch = true
ij_kotlin_space_after_comma = true
ij_kotlin_space_before_comma = false
ij_kotlin_space_after_semicolon = true
ij_kotlin_space_before_semicolon = false
ij_kotlin_blank_lines_around_function = 2
ij_kotlin_blank_lines_around_class = 2
ij_kotlin_blank_lines_before_package = 1
ij_kotlin_blank_lines_before_imports = 1
ij_kotlin_blank_lines_after_imports = 1

ij_kotlin_if_rbrace_on_new_line = false
ij_kotlin_else_on_new_line = false
ij_kotlin_when_rbrace_on_new_line = false
ij_kotlin_catch_on_new_line = false
ij_kotlin_finally_on_new_line = false
ij_kotlin_do_while_rbrace_on_new_line = false
